.singleProduct {
    display: flex;
    flex: 1;
    min-width: 300px;
    width: 100%;
    height: 200px;
    align-items: center;
    padding: 20px;
    margin-inline-end: 20;
    border-radius: 5px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}
.singleProduct__left {
    flex: 1;
    padding: 20px;
}
.singleProduct__information {
    flex: 2;
    padding: 20px;
}
.singleProduct_percent {
    color: #00a650;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}
.singleProduct__left > img{
    width: 100%;
    object-fit: cover;
    max-width: 100px;
}
.singleProduct__title > h2 {
    color: #333;
    font-weight: 600;
    font-size: large;
}
.singleProduct__price__original > s {
    align-items: center;
    color: #999;
    font-size: 12px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.singleProduct__price > span {
    color:#333;
    font-size: 24px;
    font-weight: 400;
    margin-right: 6px;
    line-height: 1;
}
.singleProduct__sendType > span {
    font-size: smaller;
    color: green;
}
@media screen and (max-width: 600px) {
    h2.responsive {
      font-size: 1rem;
      font-weight: 600;
      marker-end: none;
    }
    span.responsive {
        font-size: 0.5rem;
      }
    span.responsive_price {
        font-size: 0.8rem;
    }  
    s.responsive {
        font-size: 0.1rem;
     }
  }



