.sidebar > h2{
 font-weight: 400;
 margin-left: auto;
 padding-left: 10px;
 padding-right: 5px;
 padding-top: 10px;
 margin-inline-end: 20;
}
@media (max-width: 548px) {
    .sidebar {
      display: none;
    }
}